@charset "UTF-8";
*{
	 margin: 0px;
	 padding: 0px;
	 text-decoration: none;
	 box-sizing: border-box;
	 font-weight: 400;
	 font-size: .14rem;
     font-style: normal;
	 font-family: "微软雅黑";
	 text-size-adjust: 100%;
	 -webkit-text-size-adjust: 100%;
	 -moz-text-size-adjust: 100%;
	 -o-text-size-adjust: 100%;
	 -ms-text-size-adjust: 100%;
		}

ol,ul, li {
		  list-style: none; }
html {
		  -webkit-touch-callout: none;
		  -webkit-user-select: none;
		  user-select: none;
		  font-size: 100px;  /*font-size: 62.5%; 1rem=10px */
		  /*font-size: 100px; 1rem=100px 0.1=10px */
		}

img, div, body, html, ul, li, a {
		  -webkit-touch-callout: none; }
input, button {outline: 0;
		   }
button {
		  cursor: pointer; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		  color:#ccc; }
input{-webkit-appearance:none; border:0;outline:0;}

.clearfix:after{
	content: "";
	height: 0;
	display: block;
	overflow: hidden;
	*zoom:1;
	visibility: hidden;
	clear: both;
}